<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>File Upload</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body { margin: 0; padding: 0; }
            html { font-family: 'Helvetica', sans-serif; margin: 0; padding: 0; }
            h1 { margin-bottom: 0.2em; }
            .container {
                padding-top: 100px;
                text-align: center;
            }
            input[type=file] { display: none; }
            .upload-container { display: none; margin-top: 3em; }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="page-header">
                        <h1>File Uploader<br><small>Helping Pets Behave</small></h1>
                    </div>
                    {% if success %}
        	            <p class="alert alert-success">
        	                <strong>Hooray!</strong> Your upload has been received.</b>
        	            </p>
        	        {% endif %}
                    <p class="lead">To start, click or tap "Select File" and choose the file you want to upload. If you are on a phone or iPad, you will be prompted to choose the photo, video, or other file you would like to upload.</p>
                    <form action="{{ presigned.url }}" method="post" enctype="multipart/form-data" id="uploader">
                        {% with fields = presigned.fields %}
                    	<input type="hidden" name="AWSAccessKeyId" value="{{ fields.AWSAccessKeyId }}">
                        <input type="hidden" name="policy" value="{{ fields.policy }}">
                        <input type="hidden" name="signature" value="{{ fields.signature }}">
                        <input type="hidden" name="key" value="{{ fields.key }}">
                        <input type="hidden" name="acl" value="{{ fields.acl }}">
                        <input type="hidden" name="success_action_redirect" value="{{ fields.success_action_redirect }}">
                    	<input type="file" name="file" id="file-input">
                        {% endwith %}
                        <div class="form-group">
                        	<div class="input-group">
                                <span class="input-group-btn">
                        		    <button type="button" class="btn btn-primary btn-lg faux-file-btn">Select File</button>
                                </span>
                        		<input type="text" class="form-control input-lg faux-file-txt input-xlarge">
                        	</div>
                        </div>
                        <div class="form-group upload-container">
                            <p class="lead">Great! Now, just click or tap the "Upload File" button.</p>
                            <button type="submit" class="btn btn-lg btn-block btn-primary">Upload File</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>

        	var $realFile = $('#file-input');
        	var $fauxFileText = $('.faux-file-txt');
        	var $fauxFileButton = $('.faux-file-btn');
            var $uploadContainer = $('.upload-container');

        	$fauxFileButton.click(function(ev) {
        		$realFile.click();
        		ev.preventDefault();
        	});

            $realFile.change(function(ev) {
                $('.alert').slideUp();
                $uploadContainer.slideDown();
            });

        	$realFile.change(function() {
        		var path = $(this).val();
        		$fauxFileText.val(path.split("\\").slice(-1)[0]);
        	});

        	$fauxFileText.focus(function() {
        		$(this).blur();
        	});

        	$('#uploader').submit(function(ev) {
        		if ($realFile.val() === '') {
        			alert('Gotta pick a file first, pal.');
                    ev.preventDefault();
        		} else {
        		    $fauxFileButton.attr('disabled', 'disabled');
        		    $('button[type=submit]').attr('disabled', 'disabled').text('Uploading...');
                }
        	});

        </script>
    </body>
</html>
