<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>File Upload</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <style>
            body { margin: 0; padding: 0; }
            html { font-family: 'Helvetica', sans-serif; margin: 0; padding: 0; }
            .container {
                padding-top: 100px;
                text-align: center;
            }
            input[type=file] { display: none; }
            button[type=submit] { margin-left: 20px; }
        </style>
    </head>
    <body>
        <div class="container">
	        {% if success %}
	            <p class="alert alert-success">
	                <strong>Hooray!</strong> You have successfully uploaded <b>{{ success.filename }}</b>
	            </p>
	        {% endif %}
            <form action="http://s3.amazonaws.com/{{ bucket }}/" method="post" enctype="multipart/form-data" id="uploader" class="form-inline">
            	<input type="hidden" name="AWSAccessKeyId" value="{{ key }}">
                <input type="hidden" name="policy" value="{{ policy }}">
                <input type="hidden" name="signature" value="{{ signature }}">
                <input type="hidden" name="key" value="${filename}">
                <input type="hidden" name="acl" value="private">
                <input type="hidden" name="success_action_redirect" value="{{ redirect }}">
            	<input type="file" name="file" id="file-input">
            	<div class="input-append">
            		<input type="text" class="faux-file-txt input-xlarge">
            		<button type="button" class="btn faux-file-btn">Select file</button>
            	</div>
            	<button type="submit" class="btn btn-primary">Upload it!</button>
            </form>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>

        	var $realFile = $('#file-input');

        	$('.faux-file-btn').click(function(ev) {
        		$realFile.click();
        		ev.preventDefault();
        	});

        	$realFile.change(function() {
        		var path = $(this).val();
        		$('.faux-file-txt').val(path.split("\\").slice(-1)[0]);
        	});

        	$('#uploader').submit(function() {
        		if ($realFile.val() === '') {
        			alert('Gotta pick a file first, pal.')
                    ev.preventDefault();
        		}
        	});

        </script>
    </body>
</html>